@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primary: #000000;
    --color-secondary: #F6F6F6;
    --color-tertiary: #22D4FD;
    --color-hover: #272727;

    --font-primary: "Krona One", sans-serif;
    --font-secundary: "Montserrat", sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: #F6F6F6;
}

.header {
    padding: 2% 0 0 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family:var(--font-secundary);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-tertiary);
    text-decoration: none;
}

.main {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.main__content__title {
    font-size: 36px;
    font-family: var(--font-primary);
}

.title {
    color: var(--color-tertiary);
}

.main__content__text {
    font-size: 24px;
    font-family: var(--font-secundary);
}

.main__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.main__links__subtitle {
    font-family:var(--font-primary);
    font-size: 24px;
    font-weight: 400;
}

.main__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border: 2px solid var(--color-tertiary);
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secondary);
    font-family: var(--font-secundary);
}

.main__links__link:hover {
    background-color: var(--color-hover);
}

.footer {
    color: var(--color-primary);
    background-color: var(--color-tertiary);
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.experiencia {
     margin-bottom: 32px;
}

